<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тесты</title>

    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/commonStyles.css" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <h1 class="header-title">Testovich</h1>
      </header>

      <main>
        <section class="tests-section">
          <h2 class="tests-section-title">Список тестов</h2>

          <p id="noTestsMessage" class="no-tests-text"></p>

          <div class="list-tests" id="list-tests"></div>
        </section>
      </main>
    </div>

    <script src="/js/tests.js"></script>
  </body>
</html>