<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>

    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/commonStyles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="header-title">Авторизация</h1>
        </header>

        <main class="beautiful-form">
            <label for="username">Имя пользователя</label>
            <input type="text" class="beautiful-input" id="username" placeholder="Введите имя пользователя">
            <p id="error-username" class="error-text"></p>
            
            <br/>

            <label for="password">Пароль</label>
            <input type="password" class="beautiful-input" id="password" placeholder="Введите пароль">
            <p id="error-password" class="error-text"></p>

            <br/>

            <p>Еще нет акка? <a href="/auth/register" class="beautiful-link">Регайся</a>!</p>

            <br/>

            <button type="button" class="beautiful-btn" id="btnLogin" onclick="login()">
                Войти
            </button>
        </main>
    </div>

    <script src="/js/authServiceInfo.js"></script>
    <script src="/js/errors.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>